server/.venv
server/sql_app.db
**/.vscode
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
**/*.pyc/
**/*.pyo/
**/*.pyd/
**/.pytest_cache/
**/migrations/

app/node_modules
server/app/sql_app.db
server/.idea
.idea